---
layout: default
title: Home
menu_title: Home
id: 1
parent_id: 9
navigation: true
---
  <div class="row">
      <div class="col-xs-1 col-md-12  hero">
        <!--<img class="img-responsive center-block" src="{{ site.baseurl }}assets/images/hero.png" alt="{{ site.title }}">-->
        
        <h1>backdrop - HIG</h1>
        
        <h3>Human Interface guidelines for backdrop designers, developers, power-users and end users</h3>
      </div>
  </div>
  <div class="box-container">
	  <div class="row">
		  <div class="col-md-4 text-center">
			<div class="box">
				<i class="fa fa-file-o fa-5x"></i>
				<div>
					<a href="#">Design Essentials</a>
				</div>
			</div>
			
		  </div>

		  <div class="col-md-4 text-center">
  			<div class="box">
  				<i class="fa fa-sliders fa-5x"></i>
  				<div>
  					<a href="#">Interface Elements</a>
  				</div>
  			</div>
		  </div>

      <div class="col-md-4 text-center">
        <div class="box">
          <i class="fa fa-list-alt fa-5x"></i>
          <div>
            <a href="#">UI/UX Patterns</a>
          </div>
        </div>
      </div>
	  </div>
  </div>


<!--
<div class="posts">
  {% for post in paginator.posts %}
  <article class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date_to_string }}</time>

    {{ post.content }}
  </article>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
-->