		</div>

		<footer class="footer">
    		<div class="container text-center">
	    		<small>
	      			&copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>. All rights reserved.
	    		</small>
	    	</div>
  		</footer>
	
	  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    	<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    	<script src="/assets/js/metisMenu.min.js"></script>
        <script src="{{ site.baseurl }}assets/js/backdrop-hig.js"></script>
	</body>
</html>
