 <!-- Main Footer -->
            <br/>
            <footer class="main-footer sticky footer-type-1">
                <div class="footer-inner">
                    <div class="footer-text">
                        &copy; 2014
                        <strong>backdrop-HIG</strong>
                        theme by <a href="goutamdey.com" target="_blank">@dgoutam</a></div>
                    <div class="go-up"><a href="index.html#" rel="go-top"> <i class="fa-angle-up"></i> </a></div>
                </div>
            </footer>
        </div> <!-- end of Main Content -->


    </div> <!-- End of page-container -->

    <script src="{{site.baseurl }}assets/js/bootstrap.min.js" id="script-resource-1"></script>
    <script src="{{site.baseurl }}assets/js/TweenMax.min.js" id="script-resource-2"></script>
    <script src="{{site.baseurl }}assets/js/resizeable.js" id="script-resource-3"></script>
    <script src="{{site.baseurl }}assets/js/joinable.js" id="script-resource-4"></script>

    <<script src="{{site.baseurl }}assets/js/xenon-api.js" id="script-resource-5"></script>
    <script src="{{site.baseurl }}assets/js/xenon-toggles.js" id="script-resource-6"></script>

    <script src="{{site.baseurl }}assets/js/xenon-custom.js" id="script-resource-7"></script>
</body>
</html>