<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link href="http://gmpg.org/xfn/11" rel="profile">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <!-- CSS -->


  <link rel="stylesheet" href="{{ site.baseurl }}assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}assets/bootstrap/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}assets/css/font-awesome.min.css">
  <link href='http://fonts.googleapis.com/css?family=Federo' rel='stylesheet' type='text/css'>
  <!--
  <link rel="stylesheet" href="{{ site.baseurl }}assets/css/poole.css">
  <link rel="stylesheet" href="{{ site.baseurl }}assets/css/syntax.css">
  -->
  <link rel="stylesheet" href="{{ site.baseurl }}assets/css/metisMenu.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}assets/css/backdrop-hig.css">

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}assets/images/apple-touch-icon-precomposed.png">
  <link rel="shortcut icon" href="{{ site.baseurl }}assets/images/favicon.ico">

  <!-- RSS -->
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ site.baseurl }}atom.xml">

</head>
  <body>
    {% include top-bar-nav.html %}  
    <div class="container">
        
