{% capture html %}
    <ul class="dropdown-menu" role="menu">
        
        {% assign sorted_pages = site.pages | sort: 'parent_id' | reverse  %}
                
        {% for node in sorted_pages %}
           {% capture current %}{{ node.parent_id }}{% endcapture %}
           {% if node.parent_id == include.parent %}
                {% if node.haschild %}
                    <li lass="dropdown">
                        <a class="dropdown-toggle  {% if node.url == page.url %} active{% endif %}"  {% if node.url == page.url %}class="active"{% endif %} href="{{node.url}}"  data-toggle="dropdown">
                        {{ node.menu_title }} <span class="caret"></span>
                        </a>
                        {% include top-nav.html parent=node.id %}
                    </li>
                 {% else %}
                    <li>
                        <a {% if node.url == page.url %}class="active"{% endif %} href="{{node.url}}">
                        {{node.title}}
                        </a>
                    </li>    
                 {% endif %}   
                
            
            {% endif %}
        {% endfor %}      
    </ul>
{% endcapture %}{{ html | strip_newlines | replace:'    ','' | replace:'    ','' | replace:'  ',' ' }}

